*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-family: Poppins-Bold sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: url("bc.jpg");
    background-repeat: no-repeat;
    /* background-position: right top,left bottom;  */
    background-size: 100% 100%;
}
/* HEADER CSS START HERE  */
header{
    display: flex;
    flex-direction: row;
    background-color: #7e7e7e80;
    width: 100%;
}
a{
    text-decoration: none;
    color:#ffffff;
}
h6{
    color: #ffffff;
}
ul{
    list-style: none;
}
.left{
    width: 50%;
    padding-left: 20px;
}
.left>ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.left>ul>li>img{
    width: 15px;
}
.left>ul>li , .right>ul>li{
    margin: 0 10px 0 10px;
}
.right{
    width: 50%;
    padding-right: 20px;
}
.right>ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.right>ul>li>img{
    width: 15px;
}
/* HEADER CSS END HERE */
/* MAIN CSS START HERE  */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
section{
    width: 80%;
    min-height: 80vh;
    /* border: 2px solid red; */
    border-radius: 20px;
    display: flex;
}
.whatsapp_left{
    width: 8%;
    min-height: 80vh;
    background-color:#ffffff;
    border-radius: 20px 0 0 20px;
    padding-top: 5px;
}
.whatsapp_middle{
    width: 30%;
    min-height: 80vh;
    background-color:#ffffff;
    /* border: 1px solid black; */
    padding: 5px;
}
.whatsapp_right{
    width: 62%;
    min-height: 80vh;
    /* background-color:#fafafa; */
    border-radius: 0 20px 20px 0;
    position: relative;
    background: url("hd2whatsapp.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.control_button{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yellow_btn, .red_btn, .green_button{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: royalblue;
    margin: 2px;
}
.yellow_btn{
    background-color:yellow;
}
.red_btn{
    background-color:red;
}
.green_button{
    background-color:green;

}
.menu_1{
    width: 100%;
    height: 60%;
    /* border: 1px solid black; */
    padding-top: 10px;
}
.menu_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    /* border: 1px solid black; */

}
.menu_link img{
    width: 15px;
}
.menu_link p{
    font-size: 12px;
    /* font-weight: 100; */
    margin-top: 5px;
}
.menu_link span{
    padding: 5px;
    background-color:#e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 25px;
    border-radius: 20px;
}
#forPosition{
    position: relative;
}
.counter{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    top: 2px;
    right: 30px;
}
.menu_2{
    width: 100%;
    height: 30%;
    /* border: 1px solid black; */
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.menu_2 .menu_link img{
    width: 20px;
}
.menu_link_profile{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu_link_profile img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
} 
.alert_div{
    width: 10px;
    height: 10px;
    background-color: #43e00b;
    position: absolute;
    bottom: 0px;
    right: 15px;
    border-radius: 50px;
}
/* MIDDLE CSS START */
.upper_middle{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.upper_middle img{
    width: 25px;
    margin-right: 10px;
}
.middle_search{
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    background-color: #eaeaeac9;
}
.middle_search img{
    width: 15px;
}
.middle_search input[type='text']{
    width: calc(100% - 15px);
    border: none;
    outline: none;
    text-align: center;
    background-color: transparent;
}
.individual_msg{
    width: 100%;
    min-height: 80vh;
    /* border: 1px solid black; */
    margin-top: 5px;

}
.msg_link{
    width: 100%;
    height: 45px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 1px;
}
.msg_left{
    width: 25%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg_left img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.msg_middle{
    width: 55%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 10px;
}
.msg_middle h5{
    font-size: 12px;
}
.msg_middle p{
    font-size: 12px;
}
.msg_right{
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.msg_right h6{
    color: gray;
    font-size: 8px;
}
.msg_right img{
    width: 12px;
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.count_msg{
    position: absolute;
    bottom: 8px;
    background-color: #43e00b;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_upper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color:#fafafa;
    border-radius: 0 20px 0 0;
    display: flex;
    flex-direction: row;
}
.right_upper_left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 6px;
    justify-content: flex-start;
    align-items: center;
}
.right_upper_left img{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin-right: 20px;
}
.profile_name{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction:column;
    padding: 1px;
    justify-content: space-between;
    /* align-items: center; */
    text-align: left;
}
.profile_name h5{
    font-size: 12px;
}
.profile_name p{
    font-size: 8px;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    /* align-items: center; */
}
.profile_name span{
    display: block;
    width:5px;
    height:5px;
    border-radius: 50px;
    background-color: green;
    margin-right: 3px;
}
.right_down{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color:#fafafa;
    border-radius: 0 0 20px 0;
}
.right_upper_right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.right_upper_right>ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.right_upper_right>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
.right_upper_right>ul>li>img{
    width: 25px;
}
.right_down{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.right_down>img{
    width: 25px;
}
.input_msg{
    width: 70%;
    background: white;
    padding: 5px;
    border-radius: 15px;
}
.input_msg>input[type='text']{
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 15px;
    padding-left: 10px;
}
.right_middle{
    border: 1px solid black;
    width: 100%;
    min-height:calc(100% - 110px);
    position: absolute;
    top: 60px;
}
.enclipted_msg{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
}
.enclipted_msg>p{
    width: 60%;
    background-color: #feecdc;
    color: #728088;
    font-size: 10px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enclipted_msg>p>img{
    width: 20px;
    margin-right: 20px;
}
.today_p{
    background-color: #ffffff;
    color: #8d9294;
    width: 7%;
    padding: 7px;
    position: relative;
    top: 65px;
    left: 175px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px;
    font-size: 8px;
    text-align: center;
}
.received_msg_1{
    width: 40%;
    position: absolute;
    top: 150px;
    left: 10px;
    background-color: white;
    border-radius: 0px 5px 5px 5px;
    padding: 3px;
}
.received_msg_1>p{
    font-size: 10px;
}
.received_msg_1>span{
    position: relative;
    right: -206px;
    font-size: 10px;
}
.received_msg_2{
    background: url(Screenshot\ 2024-01-19\ 210525.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40%;
    height: 94px;
    position: absolute;
    top: 229px;
    left: 10px;
    border-radius: 0px 5px 5px 5px;
}
.received_msg_2>span{
    position: relative;
    right: -212px;
    top: 71px;
    font-size: 10px;
    color: white;
}
.received_msg_3{
    width: 40%;
    position: absolute;
    top: 324px;
    left: 10px;
    background-color: white;
    border-radius: 0px 5px 5px 5px;
    padding: 2px;
}
.received_msg_3>p{
    font-size: 10px;
}
.received_msg_3>span{
    position: relative;
    right: -206px;
    font-size: 10px;
}
.sent_msg_1{
    width: 22%;
    position: absolute;
    top: 198px;
    left: 475px;
    background-color: #d9fdd3;
    border-radius: 5px 0px 5px 5px;
    padding: 2px;
}
.sent_msg_1>p{
    font-size: 10px;
}
.sent_msg_1>span{
    position: relative;
    right: -49px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sent_msg_1>span>img{
    width: 10px;
}

.sent_msg_2{
    width: 22%;
    position: absolute;
    top: 358px;
    left: 473px;
    background-color: #d9fdd3;
    border-radius: 5px 0px 5px 5px;
    padding: 2px
}
.sent_msg_2>p{
    font-size: 10px;
}
.sent_msg_2>span{
    position: relative;
    right: -49px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sent_msg_2>span>img{
    width: 10px;
}
/* MAIN CSS END HERE */